<div class="container m-5 p-3">
  <h1>Staam Listening Party!!</h1>
  <div class="form-group">
    <label class="col-form-label" for="inputDefault">Youtube link: </label>
    <input type="text" class="form-control w-50" placeholder="Link" id="link">
    <button type="button" id="submit_video" class="btn btn-warning">Send video to everyone</button>
  </div>
  <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/pok8H_KF1FA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<script src='/scripts/admin.js'></script>
